body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

header {
    background-color: #222;
    color: #ffcc00;
    text-align: center;
    padding: 2vh;
    border: 0.2vh solid #ffcc00;
    margin-bottom: 2vh;
    width: 100%;
    box-sizing: border-box;
}

.cookie {
    background-image: url('/cookie.png');
    background-color: #222;
    cursor: pointer;
    width: 35vh;
    height: 35vh;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: background-image 0.3s ease, transform 0.1s ease;
    margin: 2vh 0;
    border: none;
}

.cookie:active {
    transform: scale(0.95);
}

li {
    list-style-type: none;
}

.navbar-links {
    display: flex;
    justify-content: space-around;
    padding: 1vh;
    background-color: #222;
    border-bottom: 0.2vh solid #ffcc00;
    width: 100%;
    box-sizing: border-box;
}

.navbar-links button {
    color: #ffcc00;
    padding: 1vh 2vh;
    border: 0.2vh solid #ffcc00;
    background-color: #222;
    border-radius: 0.5vh;
    transition: background-color 0.3s ease;
    font-family: 'Press Start 2P', cursive;
    width: 100%;
}

.navbar-links button:hover {
    background-color: #ffcc00;
    color: #222;
}

.buy-menu {
    color: #ffcc00;
    width: 100%;
    background-color: #222;
    padding: 2vh;
    border-radius: 1vh;
    box-shadow: 0 0 1vh rgba(255, 204, 0, 0.5);
    border: 0.2vh solid #ffcc00;
    margin-top: 2vh;
    box-sizing: border-box;
    text-align: center;
    overflow-y: scroll;
    max-height: 20vh;
}

.buy-menu::-webkit-scrollbar {
    width: 0.5vh;
}

.buy-menu::-webkit-scrollbar-thumb {
    background-color: #ffcc00;
    border-radius: 1vh;
}

.buy-menu::-webkit-scrollbar-track {
    background-color: #222;
}

.buy-menu button {
    display: inline-block;
    margin: 1vh auto;
}

.item-list button {
    color: #ffcc00;
    text-align: center;
    padding: 1vh;
    border: 0.2vh solid #ffcc00;
    width: 100%;
    margin-bottom: 1vh;
    background-color: #222;
    border-radius: 0.5vh;
    transition: background-color 0.3s ease;
    font-family: 'Press Start 2P', cursive;
}

.item-list button:hover {
    background-color: #ffcc00;
    color: #222;
}

.clicker .button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

/* Import the retro font */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');