.body {
    background-color: #474040;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 100px;
}

.cookie {
    background-image: url('/download.png');
    cursor: pointer;
    border:none;
    width: 35vh;
    height: 35vh;
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    border-radius: 200px;
    display: flex;
}

.cookie:active {
    transition-duration: 0.3s;
    background-image: url('/pickaxe swing.png');
}

li {
    list-style-type: none;
}


.navbar-links {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.navbar-links button {
    font-style: italic;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 100px;
    border-color: #ffffff;
    border: none;
}

.game-container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.buy-menu {
    float: right;
    height: 100vh;
    width: 50vh;
}

.sub-header{
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 100px;
}

.item-list {
    color: white;
    padding: 10px;
    margin: 10px;
    height: 80vh;
    text-align: center;
}

.item-list button {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px;
    border-color: #000000;
    width: 300px;
}

.clicker {
    width: 100vh;
}